$first: #5D71DD;
$second: #2F2222;
$third: #7D8DE4;
$fourth: #5D71DD0D;
$opacity: #2F222266;

$back: #F9F9F9;
$wh:#F9F9F9;

.container{
  width: 1200px;
  justify-self: center;
}

body{
  font-family: Futura;
}