@import './base.scss';

.content {
  padding: 10px 31px;
  text-transform: uppercase;
  background: $first-2;
  border-radius: 6px;
  position: relative;

  .content-img {
    width: 462px;
    height: 359px;
    position: absolute;
    bottom: -19px;
    right: 41px;
  }

  .backtitle {
    font-weight: 900;
    font-size: 109px;
    color: $first-1;
    margin-bottom: 45px;
  }

  .subtitle {
    font-weight: 500;
    font-size: 16px;
    color: $fourth-2;
  }

  .title {
    margin: 8px 0 24px 0;
    width: 480px;
    font-weight: 700;
    font-size: 42px;
    color: $third-1;
  }
}